.br {
  height: 0%;
  border: 0.0625em;
  border-color: #bdbdbd;
  border-style: none none solid none;
}

.selected {
  border-bottom: solid #2f80ed 0.125em;
}

/* .input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-row div:first-child {
  width: 75%;
}

.input-row:nth-child(1) button {
  padding: 5px 50px;
} */
