.br {
  height: 0%;
  border: 0.0625em;
  border-color: #bdbdbd;
  border-style: none none solid none;
}

.selected {
  border-bottom: solid #2f80ed 0.125em;
}

.todo-list {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  font-size: 1em;
}

.todo-name {
  margin-left: 0.3em;
}
.todo-name__clicked {
  margin-left: 0.3em;
  text-decoration: line-through;
}

.unlink {
  text-decoration: none;
  color: black;
}

.unlink:hover {
  text-decoration: none;
  color: black;
}
